# =========================
# Build Artifacts
# =========================
*.egg
*.egg-info/
*.log
*.pyo
*.pyc
*.pyd
*.so
*.swp
*.zip
build/
dist/

# =========================
# Cloud / Secrets
# =========================
*.crt
*.creds
*.json
*.key
*.pem
.env
.env.local
.aws/
config.json
secrets.json
user_keys.tf

# =========================
# Development / IDE
# =========================
.idea/
.vscode/

# =========================
# Docker
# =========================
.dockerignore
Dockerfile
docker-compose.yml


# =========================
# Documents
# =========================
*.doc
*.docx
*.odt
*.pdf

# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Python
# =========================
__pycache__/
env/
venv/
.venv/

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars


