# Ignore JSON config or data files
*.json

# Ignore all .zip files anywhere
*.zip

# Ignore all folders (directories)
*/

# Ignore document files (Word, PDF, etc.)
*.doc
*.docx
*.pdf
*.odt

# Ignore Python cache files and folders
__pycache__/
*.py[cod]

# Ignore Python compiled files
*.so
*.pyd
