# Ignore JSON config or data files
*.json

# Ignore all .zip files anywhere
*.zip

# Ignore document files (Word, PDF, etc.)
*.doc
*.docx
*.pdf
*.odt

# Ignore Python cache files and folders
__pycache__/
*.py[cod]

# Ignore Python compiled files
*.so
*.pyd

# Ignore Lambda deployment packages
lambda_package/

# Terraform directories and files 
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars 
user_keys.tf